In [52]:
import pandas as pd

data = pd.read_csv('C:/Users/User/Desktop/temp/uni/final_project/topik-korea-data/crawling/data/csv/test_data_0.csv')

In [53]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2340 entries, 0 to 2339
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   tag                     2340 non-null   object
 1   title                   2340 non-null   object
 2   topik_level             2340 non-null   int64
 3   listen_or_read          2340 non-null   object
 4   unique_id               2340 non-null   int64
 5   prob_num                1700 non-null   float64
 6   parent_or_child         2340 non-null   object
 7   child_ids               640 non-null    object
 8   point                   1700 non-null   float64
 9   question                1382 non-null   object
 10  text_in_box             668 non-null    object
 11  choices                 1720 non-null   object
 12  selected_choice_number  50 non-null     float64
 13  img_name                150 non-null    object
 14  underline_in_question   20 non-null     object
 15  underline_in_box        27 non-null     object
 16  answer_num              1700 non-null   float64
dtypes: float64(4), int64(2), object(11)
memory usage: 310.9+ KB

In [54]:
def replace_text(text, underline):
    if pd.isnull(underline):
        return text
    return text.replace(underline, f'<ins>{underline}</ins>')

df = data.copy()
### Change type of question, text_in_box, unerline_in_question, underline_in_box to string
# df['question'] = df['question'].astype(str)
# df['text_in_box'] = df['text_in_box'].astype(str)

### Replace texts in question the same as underline_in_question with <ins>
### Do it using apply() function
df['question'] = df.apply(lambda row: replace_text(row['question'], row['underline_in_question']), axis=1)
### Replace texts in text_in_box the same as underline_in_box with <ins>
df['text_in_box'] = df.apply(lambda row: replace_text(row['text_in_box'], row['underline_in_box']), axis=1)

### change all values in answer_num to int except NaN
df['answer_num'] = df['answer_num'].apply(lambda x: int(x) if not pd.isnull(x) else x)

display(df[df['underline_in_question'].notnull()].head(1))
display(df[df['underline_in_box'].notnull()].head(1))

,tag,title,topik_level,listen_or_read,unique_id,prob_num,parent_or_child,child_ids,point,question,text_in_box,choices,selected_choice_number,img_name,underline_in_question,underline_in_box,answer_num
170,"['2023', '2023-0']",topik-2-reading,2,읽기,170,3.0,Child,NaN,2.0,3. 어려운 이웃을 <ins>돕고자</ins> 매년 봉사 활동에 참여하고 있다.,NaN,"['돕기 위해서', '돕는 대신에', '돕기 무섭게', '돕는 바람에']",NaN,NaN,돕고자,NaN,1.0

,tag,title,topik_level,listen_or_read,unique_id,prob_num,parent_or_child,child_ids,point,question,text_in_box,choices,selected_choice_number,img_name,underline_in_question,underline_in_box,answer_num
196,"['2023', '2023-0']",topik-2-reading,2,읽기,196,NaN,Parent,"[197, 198]",NaN,※ [23～24] 다음을 읽고 물음에 답하십시오. (각 2점),['꽃집을 지나다가 꽃말에 이끌려 금잔화 꽃씨를 샀다. 화분에 심어 사무실의 내 책...,NaN,NaN,NaN,NaN,도대체 여기서 어떻게 꽃이 핀다는 건지.,NaN

In [55]:
import re

def replace_text(text, pattern):
    # print(text)
    if pd.isnull(text):
        return text
    text = re.sub(pattern, '', text)
    text = text.replace('※ ', '※')
    return text

display(df.head(1))
### Replace any text closed with [] in question with ''
pattern = r'\[.*?\]'
df['question'] = df['question'].apply(lambda x: replace_text(x, pattern))
display(df.head(1))

,tag,title,topik_level,listen_or_read,unique_id,prob_num,parent_or_child,child_ids,point,question,text_in_box,choices,selected_choice_number,img_name,underline_in_question,underline_in_box,answer_num
0,"['2023', '2023-0']",topik-1-listening,1,듣기,0,NaN,Parent,"[1, 2, 3, 4]",NaN,※ [1 ～ 4] 다음을 듣고 <보기>와 같이 물음에 맞는 대답을 고르십시오.,"['가 : 공책이 있어요?', '나 :________________________...","['네, 공책이 있어요.', '네, 공책을 사요.', '아니요, 공책에 써요.', ...",1.0,NaN,NaN,NaN,NaN

,tag,title,topik_level,listen_or_read,unique_id,prob_num,parent_or_child,child_ids,point,question,text_in_box,choices,selected_choice_number,img_name,underline_in_question,underline_in_box,answer_num
0,"['2023', '2023-0']",topik-1-listening,1,듣기,0,NaN,Parent,"[1, 2, 3, 4]",NaN,※ 다음을 듣고 <보기>와 같이 물음에 맞는 대답을 고르십시오.,"['가 : 공책이 있어요?', '나 :________________________...","['네, 공책이 있어요.', '네, 공책을 사요.', '아니요, 공책에 써요.', ...",1.0,NaN,NaN,NaN,NaN

In [56]:
df.iloc[634]

tag                                       ['2019', '2019-0']
title                                        topik-2-reading
topik_level                                                2
listen_or_read                                            읽기
unique_id                                                634
prob_num                                                 NaN
parent_or_child                                       Parent
child_ids                                         [635, 636]
point                                                    NaN
question                  ※ ( )에 들어갈 가장 알맞은 것을 고르십시오. (각 2점)
text_in_box                                              NaN
choices                                                  NaN
selected_choice_number                                   NaN
img_name                                                 NaN
underline_in_question                                    NaN
underline_in_box                                         NaN
answer_num                                               NaN
Name: 634, dtype: object

In [57]:
import re

def remove_parentheses_containing_points(text):
    if pd.isna(text):
        return text
    else:
        ### Remove parentheses from a string
        pattern = r'\(.*?\d+점\)'

        # Step 1: Split the text by periods
        sentences = text.split('.')

        # Step 2: Apply re.sub() to each element
        processed_sentences = [re.sub(pattern, '', sentence).strip() for sentence in sentences]

        # Step 3: Join the processed elements back together with periods
        # Note: Use '. '.join() to ensure proper spacing, as split() removes the periods
        result = '. '.join(processed_sentences).strip()
        
        return result
    
df['question'] = df['question'].apply(remove_parentheses_containing_points)

In [58]:
df.iloc[634]

tag                                ['2019', '2019-0']
title                                 topik-2-reading
topik_level                                         2
listen_or_read                                     읽기
unique_id                                         634
prob_num                                          NaN
parent_or_child                                Parent
child_ids                                  [635, 636]
point                                             NaN
question                  ※ ( )에 들어갈 가장 알맞은 것을 고르십시오.
text_in_box                                       NaN
choices                                           NaN
selected_choice_number                            NaN
img_name                                          NaN
underline_in_question                             NaN
underline_in_box                                  NaN
answer_num                                        NaN
Name: 634, dtype: object

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2340 entries, 0 to 2339
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   tag                     2340 non-null   object
 1   title                   2340 non-null   object
 2   topik_level             2340 non-null   int64
 3   listen_or_read          2340 non-null   object
 4   unique_id               2340 non-null   int64
 5   prob_num                1700 non-null   float64
 6   parent_or_child         2340 non-null   object
 7   child_ids               640 non-null    object
 8   point                   1700 non-null   float64
 9   question                1382 non-null   object
 10  text_in_box             668 non-null    object
 11  choices                 1720 non-null   object
 12  selected_choice_number  50 non-null     float64
 13  img_name                150 non-null    object
 14  underline_in_question   20 non-null     object
 15  underline_in_box        27 non-null     object
 16  answer_num              1700 non-null   float64
dtypes: float64(4), int64(2), object(11)
memory usage: 310.9+ KB

In [60]:
type(df.iloc[-1]['answer_num'])

numpy.float64

In [61]:
df.to_csv('C:/Users/User/Desktop/temp/uni/final_project/topik-korea-data/crawling/data/csv/test_data.csv', index=False)