In [1]:
my_dict = {}
my_dict['list']= []
my_dict

{'list': []}

In [2]:
import ast
import pandas as pd

def string_to_list(string):
    ### Convert a string to a list
    if pd.isna(string):
        return None
    if string == '[]':
        return None
    return ast.literal_eval(string)

string_to_list("['가구점', '여행사', '신발 가게', '안경 가게']")

['가구점', '여행사', '신발 가게', '안경 가게']

In [21]:
# import numpy as np

# df = pd.read_csv('C:/Users/User/Desktop/temp/uni/final_project/topik-korea-data/crawling/data/csv/test_data.csv')

# tags = df['tag'].apply(string_to_list)
# ### Get a list of the second element of each list
# exam_codes = tags.apply(lambda x: x[1] if x else None)
# df['exam_code'] = exam_codes
# unique_exam_codes = np.unique(exam_codes)
# df

# # tags.values.unique()

In [6]:
if ['91_1_15_1.png', '91_1_15_2.png', '91_1_15_3.png', '91_1_15_4.png'] is None:
    print('yes')
else:
    print('no')

no

In [47]:
def string_to_list(string):
    ### Convert a string to a list
    if pd.isna(string):
        return None
    if string == '[]':
        return None
    return ast.literal_eval(string)

def img_string_to_list(string):
    ### Convert a string to a list
    if pd.isna(string):
        return None
    if string == '[]':
        return None
    string = string.replace('.png', '')
    print(string)
    return ast.literal_eval(string)

df = pd.read_csv('C:/Users/User/Desktop/temp/uni/final_project/topik-korea-data/crawling/data/csv/test_data.csv')
# display(df.img_name.head())
df['img_name'] = df['img_name'].apply(string_to_list)
df[df['img_name'].notna()]

,tag,title,topik_level,listen_or_read,unique_id,prob_num,parent_or_child,child_ids,point,question,text_in_box,choices,selected_choice_number,img_name,underline_in_question,underline_in_box
19,"['2023', '2023-0']",topik-1-listening,1,듣기,19,15.0,Child,NaN,4.0,NaN,NaN,NaN,NaN,"[91_1_15_1.png, 91_1_15_2.png, 91_1_15_3.png, ...",NaN,NaN
20,"['2023', '2023-0']",topik-1-listening,1,듣기,20,16.0,Child,NaN,4.0,NaN,NaN,NaN,NaN,"[91_1_16_1.png, 91_1_16_2.png, 91_1_16_3.png, ...",NaN,NaN
52,"['2023', '2023-0']",topik-1-reading,1,읽기,52,40.0,Child,NaN,3.0,NaN,NaN,"['김밥입니다.', '천오백 원입니다.', '불고기 맛입니다.', '십이월까지 팝니...",NaN,[91_1_40.png],NaN,NaN
53,"['2023', '2023-0']",topik-1-reading,1,읽기,53,41.0,Child,NaN,3.0,NaN,NaN,"['주차장은 공원 안에 있습니다.', '카페 옆에 화장실이 있습니다.', '공원에 ...",NaN,[91_1_41.png],NaN,NaN
54,"['2023', '2023-0']",topik-1-reading,1,읽기,54,42.0,Child,NaN,3.0,NaN,NaN,"['수미 씨는 오늘 바빴습니다.', '수미 씨는 메시지를 보냈습니다.', '수미 씨...",NaN,[91_1_42.png],NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2280,"['2014', '2014-2']",topik-2-reading,2,읽기,2280,6.0,Child,NaN,2.0,NaN,NaN,"['학원', '병원', '박물관', '대사관']",NaN,[35_2_2_6.png],NaN,NaN
2281,"['2014', '2014-2']",topik-2-reading,2,읽기,2281,7.0,Child,NaN,2.0,NaN,NaN,"['환경 보호', '공원 소개', '날씨 정보', '여행 계획']",NaN,[35_2_2_7.png],NaN,NaN
2282,"['2014', '2014-2']",topik-2-reading,2,읽기,2282,8.0,Child,NaN,2.0,NaN,NaN,"['상품 안내', '모집 안내', '문의 방법', '사용 방법']",NaN,[35_2_2_8.png],NaN,NaN
2284,"['2014', '2014-2']",topik-2-reading,2,읽기,2284,9.0,Child,NaN,2.0,NaN,NaN,"['주말에는 단체 할인을 받을 수 있다.', '이 행사는 이번에 처음 열리는 행사이...",NaN,[35_2_2_9.png],NaN,NaN
2285,"['2014', '2014-2']",topik-2-reading,2,읽기,2285,10.0,Child,NaN,2.0,NaN,NaN,"['주인 없는 동물을 데려와 키우는 사람이 가장 적다.', '인터넷에서 산 사람이 ...",NaN,[35_2_2_10.png],NaN,NaN

In [40]:
import re
h3_texts = ['2023년도 TOPIK', '2022년도 TOPIK', '2019년도 TOPIK', '2018년도 TOPIK', '2017년도 TOPIK', '2016년도 TOPIK', '2015년도 TOPIK', '2014년도 TOPIK']
### regular expression to extract numbers from a string
numbers = list(map(int, re.findall(r'\d+', str(h3_texts))))
numbers 
list(map(int, re.findall(r'/d+', str(h3_texts))))

[2023, 2022, 2019, 2018, 2017, 2016, 2015, 2014]

In [42]:
filename = '35_1_e63.png'
filename_first_part, filename_second_part = filename.split('.')
### Get rid of any alphabet from the img name. Ex. 35_1_e63.png => 35_1_63.png
filename_first_part = re.sub(r'[a-zA-Z]', '', filename_first_part)
filename_first_part

'35_1_63'

In [3]:
1 == 1.0

True

In [6]:
import uuid

myuuid = uuid.uuid1()
int_uuid = int(myuuid)
str_uuid = str(myuuid)
long_uuid = myuuid.int
print(f'orig_uuid: {myuuid}, int_uuid: {int_uuid}, str_uuid: {str_uuid}, long_uuid: {long_uuid}')
# print(f'type: {type(myuuid)}, uuid: {myuuid}')

orig_uuid: 6c0471ad-14e1-11ef-80f5-e5a43cd400fd, int_uuid: 143579698357424174394748415457155612925, str_uuid: 6c0471ad-14e1-11ef-80f5-e5a43cd400fd, long_uuid: 143579698357424174394748415457155612925

In [5]:
import re

mystr = "56.이 글의 내용과 같은 것을 고르십시오.(3점)"
### Find a pattern, 'any number followed by a period' at the beginning of a string
pattern = r'^\d+\.'
# found_pattern = re.findall(pattern, mystr)
new_str = re.sub(pattern, '', mystr)
new_str

'이 글의 내용과 같은 것을 고르십시오.(3점)'

In [4]:
mystr = "[""인주시에서는 매년 5월 '인주 꽃 축제'를 엽니다. 이 축제에서는 세계 여러 나라의 꽃을 볼 수 있습니다. 특히 올해 축제에서는 많은 사람이 모여서 꽃으로 세계 지도 만들기를 합니다. 또 평일 오전에 가면 무료로 꽃다발을 ( ㉠ ) 꽃 그림 그리기를 할 수 있습니다.""]"
# mystr = str(mystr)
example = {'conversation': mystr
           }
example = str(example)
example

'{\'conversation\': "[인주시에서는 매년 5월 \'인주 꽃 축제\'를 엽니다. 이 축제에서는 세계 여러 나라의 꽃을 볼 수 있습니다. 특히 올해 축제에서는 많은 사람이 모여서 꽃으로 세계 지도 만들기를 합니다. 또 평일 오전에 가면 무료로 꽃다발을 ( ㉠ ) 꽃 그림 그리기를 할 수 있습니다.]"}'

In [24]:
### Read a json file named 'C:\Users\User\Desktop\temp\uni\final_project\topik-korea-data\crawling\data\json\2022-0-topik-1-reading.json'

import json
import re

def replace_double_backslashes_followed_by_a_single_quote(data):
    if isinstance(data, dict):
        return {key: replace_double_backslashes_followed_by_a_single_quote(value) for key, value in data.items()}
    elif isinstance(data, list):
        return [replace_double_backslashes_followed_by_a_single_quote(item) for item in data]
    elif isinstance(data, str):
        return re.sub(r"\\+'", "<apos>", data)
    else:
        return data

json_file = 'C:/Users/User/Desktop/temp/uni/final_project/topik-korea-data/crawling/data/json/2022-0-topik-1-reading.json'
json_file_modified = 'C:/Users/User/Desktop/temp/uni/final_project/topik-korea-data/crawling/data/json/2022-0-topik-1-reading_modified.json'
with open(json_file, 'r', encoding='utf-8-sig') as f:
    data = json.load(f)
if data:
    modified_json = replace_double_backslashes_followed_by_a_single_quote(data)
    ### Save the modified json file
    with open(json_file_modified, 'w', encoding='utf-8-sig') as f:
        json.dump(modified_json, f, ensure_ascii=False, indent=4)

In [2]:
import json

# create a sample json

a = {"name" : "GeeksforGeeks", "Topic" : "Json to String", "Method": 1}

# Convert JSON to String

y = json.dumps(a)

print(y)
print(type(y))
y

{"name": "GeeksforGeeks", "Topic": "Json to String", "Method": 1}
<class 'str'>

'{"name": "GeeksforGeeks", "Topic": "Json to String", "Method": 1}'

In [19]:
a = "[""인주시에서는 매년 5월 '인주 꽃 축제'를 엽니다. 이 축제에서는 세계 여러 나라의 꽃을 볼 수 있습니다. 특히 올해 축제에서는 많은 사람이 모여서 꽃으로 세계 지도 만들기를 합니다. 또 평일 오전에 가면 무료로 꽃다발을 ( ㉠ ) 꽃 그림 그리기를 할 수 있습니다.""]"
a_dump = json.dumps(a, ensure_ascii=False)
a_str = str(a)
a_load = json.loads(a_dump)
display(a_dump)
display(a_load)
# type(b)
display(a_str)
dumpstr = "{\"conversation\": \"[\\\"인주시에서는 매년 5월 '인주 꽃 축제'를 엽니다. 이 축제에서는 세계 여러 나라의 꽃을 볼 수 있습니다. 특히 올해 축제에서는 많은 사람이 모여서 꽃으로 세계 지도 만들기를 합니다. 또 평일 오전에 가면 무료로 꽃다발을 ( ㉠ ) 꽃 그림 그리기를 할 수 있습니다.\\\"]\", \"answers\": null, \"selected\": NaN}"
loadstr = json.loads(dumpstr)
display(loadstr)

'"[인주시에서는 매년 5월 \'인주 꽃 축제\'를 엽니다. 이 축제에서는 세계 여러 나라의 꽃을 볼 수 있습니다. 특히 올해 축제에서는 많은 사람이 모여서 꽃으로 세계 지도 만들기를 합니다. 또 평일 오전에 가면 무료로 꽃다발을 ( ㉠ ) 꽃 그림 그리기를 할 수 있습니다.]"'

"[인주시에서는 매년 5월 '인주 꽃 축제'를 엽니다. 이 축제에서는 세계 여러 나라의 꽃을 볼 수 있습니다. 특히 올해 축제에서는 많은 사람이 모여서 꽃으로 세계 지도 만들기를 합니다. 또 평일 오전에 가면 무료로 꽃다발을 ( ㉠ ) 꽃 그림 그리기를 할 수 있습니다.]"

"[인주시에서는 매년 5월 '인주 꽃 축제'를 엽니다. 이 축제에서는 세계 여러 나라의 꽃을 볼 수 있습니다. 특히 올해 축제에서는 많은 사람이 모여서 꽃으로 세계 지도 만들기를 합니다. 또 평일 오전에 가면 무료로 꽃다발을 ( ㉠ ) 꽃 그림 그리기를 할 수 있습니다.]"

{'conversation': '["인주시에서는 매년 5월 \'인주 꽃 축제\'를 엽니다. 이 축제에서는 세계 여러 나라의 꽃을 볼 수 있습니다. 특히 올해 축제에서는 많은 사람이 모여서 꽃으로 세계 지도 만들기를 합니다. 또 평일 오전에 가면 무료로 꽃다발을 ( ㉠ ) 꽃 그림 그리기를 할 수 있습니다."]',
 'answers': None,
 'selected': nan}

In [1]:
total_code_line = 555 + 255 + 43 + 43 + 74 + 41 + 364
total_code_line

1375

In [5]:
import pandas as pd

df = pd.read_csv('C:/Users/User/Desktop/temp/uni/final_project/topik-korea-data/crawling/data/csv/test_data.csv')
df[df['parent_or_child'] == 'Child'].shape[0]

1700

In [15]:
import re

def remove_parentheses_containing_points(text):
    ### Remove parentheses from a string
    pattern = r'\(.*?\d+점\)'

    # Step 1: Split the text by periods
    sentences = text.split('.')

    # Step 2: Apply re.sub() to each element
    processed_sentences = [re.sub(pattern, '', sentence).strip() for sentence in sentences]

    # Step 3: Join the processed elements back together with periods
    # Note: Use '. '.join() to ensure proper spacing, as split() removes the periods
    result = '. '.join(processed_sentences).strip()
    
    return result

text = "※ ( )에 들어갈 가장 알맞은 것을 고르십시오. (각 2점)"

remove_parentheses_containing_points(text)

'※ ( )에 들어갈 가장 알맞은 것을 고르십시오.'

In [ ]:
text = '※ ( )에 들어갈 가장 알맞은 것을 고르십시오. (각 2점)'
text.split('.')